<!--The content below is only a placeholder and can be replaced.-->
<form #personform="ngForm">
  <div class="form-group">
    <label for="name">Namn</label>
    <input type="text" class="form-control" id="name" required name="name" [(ngModel)]="namnet">
  </div>

  <div class="form-group">
    <label for="stad">Stad</label>
    <input type="text" class="form-control" id="stad" name="stad" required [(ngModel)]="staden">
  </div>

  <button type="submit" class="btn btn-success" (click)="addPerson()" [disabled]="!personform.form.valid">Submit</button>

</form>

<ul>
<li *ngFor="let item of personer; let i = index">
   {{item.namn}}, {{item.ort}}
</li>
</ul>
